{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}

<div class="container">

  {% if businesses %}
  <div class="row my-4">
      {% for business in businesses %}
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <h3 class="card-title" style="text-decoration:underline;">{{business.name}}</h3>
                  <p class="card-text">{{business.description}}</p>
                  <p class="card-text">Posted by: {{business.user.username}}</p>
                  <p class="card-text">Contact: {{business.email}}</p>
              </div>
          </div>
      </div>
      {% endfor%}
  </div>
  {% else %}
      <h2 class="text-center">There are no businesses.</h2>
  {% endif %}
  <a href="{% url 'new-post' %}" class="btn btn-primary">New Business</a>

</div>


{% endblock %}
